# Chapter 6 데이터 로딩, 저장, 파일 형식 공부
- CopyRight to Python for Data Analysis - 웨스 맥키니 - OREILLY, 한빛 미디어
- Typing and Studying by SGH in 2019.12.30~2019.12.31
- URL : https://github.com/wesm/pydata-book
- URL : https://github.com/wikibook/python-for-data-analysis

# 6.1 텍스트 파일 이용하는 법

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
pd.read_table('ch06/ex1.csv')

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [4]:
pd.read_table('ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_csv('ch06/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [6]:
pd.read_csv('ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv('ch06/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
names = ['a','b','c','d','message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [10]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [11]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [12]:
pd.read_csv('ch06/ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [13]:
pd.read_csv('ch06/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
result = pd.read_csv('ch06/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [16]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [17]:
sentinels = {'message':['foo','NA'], 'something':['two']}
result = pd.read_csv('ch06/ex5.csv', na_values=sentinels)
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [18]:
result = pd.read_csv('ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [19]:
result = pd.read_csv('ch06/ex6.csv', nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [20]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
chunker

In [21]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)

In [22]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [23]:
data = pd.read_csv('ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [24]:
data.to_csv('ch06/out.csv')

In [25]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [26]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [27]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [28]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [29]:
dates = pd.date_range('1/1/2020',periods=7)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [30]:
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('ch06/tseries.csv', header=False)

In [31]:
ts

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
Freq: D, dtype: int32

In [32]:
# pd.Series.from_csv('ch06/tseries.csv', parse_dates=False)
# Deprecated since version 0.21.0: Use pandas.read_csv() instead.

pd.read_csv('ch06/tseries.csv',header=None, index_col = 1)

            0
1
0  2020-01-01
1  2020-01-02
2  2020-01-03
3  2020-01-04
4  2020-01-05
5  2020-01-06
6  2020-01-07

In [33]:
pd.read_csv('ch06/tseries.csv', parse_dates=False)

   2020-01-01  0
0  2020-01-02  1
1  2020-01-03  2
2  2020-01-04  3
3  2020-01-05  4
4  2020-01-06  5
5  2020-01-07  6

In [34]:
import csv
f = open('ch06/ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [35]:
lines = list(csv.reader(open('ch06/ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h: v for h,v in zip(header, zip(*values))}
data_dict.items()

dict_items([('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))])

In [36]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]

In [37]:
header, values

(['a', 'b', 'c'], [['1', '2', '3'], ['1', '2', '3', '4']])

In [38]:
for i,j in zip(header,zip(*values)):
    print(i,j)

a ('1', '1')
b ('2', '2')
c ('3', '3')

In [39]:
reader = csv.reader(f, delimiter='|')
reader

In [40]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader = csv.reader(f, dialect=my_dialect)

In [41]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect = my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [42]:
pd.read_csv('mydata.csv', sep=';')

   one  two  three
0    1    2      3
1    4    5      6
2    7    8      9

### 6.1.4 JSON 데이터

In [43]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [44]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [45]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [46]:
siblings = pd.DataFrame(result['siblings'], columns=['name','age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [47]:
import requests
from lxml.html import parse
from io import StringIO

text = requests.get('https://finance.yahoo.com/q/op?s=AAPL+Options').text
parsed = parse(StringIO(text))

doc = parsed.getroot()

In [48]:
len(text)

749217

In [49]:
text[:100]

'<!DOCTYPE html><html id="atomic" class="NoJs featurephone" lang="en-US"><head prefix="og: http://ogp'

In [50]:
parsed

In [51]:
doc

In [52]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x1547fe123b8>,
 <Element a at 0x1547fe12098>,
 <Element a at 0x154079b5818>,
 <Element a at 0x154079b5598>,
 <Element a at 0x154079b5958>]

In [53]:
lnk =links[27]
lnk

In [54]:
lnk.get('href')

'/quote/AAPL/options?strike=230&straddle=false'

In [55]:
lnk.text_content()

'230.00'

In [56]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['/watchlists',
 '/portfolios',
 '/screener',
 '/premium?ncid=navbarprem_fqbo1nu0ks0',
 '/calendar',
 '/industries',
 'https://money.yahoo.com',
 '/videos/',
 '/news/',
 '/tech']

In [57]:
tables = doc.findall('.//table')
tables

In [58]:
calls = tables[0]
puts = tables[1]

In [59]:
rows = calls.findall('.//tr')
len(rows)

53

In [60]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content().strip().split('\n')[0] for val in elts]

In [61]:
_unpack(rows[0], kind='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [62]:
_unpack(rows[2], kind='td')

['AAPL200103C00205000',
 '2019-12-23 11:46AM EST',
 '205.00',
 '78.80',
 '85.10',
 '88.35',
 '0.00',
 '-',
 '-',
 '0',
 '154.30%']

In [63]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [64]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)
call_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL200103C00200000,2019-12-30 12:13PM EST,200.0,91.49,90.10,93.35,-0.51,-0.55%,1,0,164.06%
1,AAPL200103C00205000,2019-12-23 11:46AM EST,205.0,78.80,85.10,88.35,0.00,-,-,0,154.30%
2,AAPL200103C00210000,2019-12-27 2:30PM EST,210.0,80.30,75.90,78.90,0.00,-,2,0,0.00%
3,AAPL200103C00215000,2019-12-27 9:37AM EST,215.0,77.65,75.10,78.35,0.00,-,4,0,135.74%
4,AAPL200103C00220000,2019-12-24 11:29AM EST,220.0,64.23,66.90,73.35,0.00,-,10,0,191.26%
5,AAPL200103C00225000,2019-12-26 10:47AM EST,225.0,62.17,61.10,64.10,0.00,-,14,0,0.00%
6,AAPL200103C00227500,2019-12-30 9:39AM EST,227.5,59.25,58.20,61.20,5.20,+9.62%,1,0,0.00%
7,AAPL200103C00230000,2019-12-27 2:32PM EST,230.0,60.27,60.10,63.35,0.00,-,1,0,109.18%
8,AAPL200103C00232500,2019-12-30 10:18AM EST,232.5,53.52,53.55,56.45,-5.64,-9.53%,2,0,0.00%
9,AAPL200103C00235000,2019-12-30 2:15PM EST,235.0,57.00,51.70,53.20,2.40,+4.40%,6,0,0.00%

In [65]:
from lxml import objectify

```python
path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)
    
perf = pd.DataFrame(data)
perf.head()


from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

```

# 6.2 이진 데이터 형식

In [66]:
frame = pd.read_csv('ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [67]:
frame.to_pickle('ch06/frame_pickle')
pd.read_pickle('ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

```python
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store
```

# 6.3 HTML, 웹 API와 함께 사용하기

In [68]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [69]:
data= resp.json()
data[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30576',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30576/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30576/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/30576/events',
 'html_url': 'https://github.com/pandas-dev/pandas/issues/30576',
 'id': 544084978,
 'node_id': 'MDU6SXNzdWU1NDQwODQ5Nzg=',
 'number': 30576,
 'title': 'ADMIN: display issue metrics ',
 'user': {'login': 'jreback',
  'id': 953992,
  'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
  'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/jreback',
  'html_url': 'https://github.com/jreback',
  'followers_url': 'https://api.github.com/users/jreback/followers',
  'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
  'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
  'organizations_url': 'https://api.github.com/users/jreback/orgs',
  'repos_url': 'https://api.github.com/users/jreback/repos',
  'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/jreback/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 32933285,
   'node_id': 'MDU6TGFiZWwzMjkzMzI4NQ==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Admin',
   'name': 'Admin',
   'color': 'DDDDDD',
   'default': False,
   'description': None}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2019-12-31T04:30:05Z',
 'updated_at': '2019-12-31T04:30:45Z',
 'closed_at': None,
 'author_association': 'CONTRIBUTOR',
 'body': 'came across this blog / repo which shows nice issue metrics for matplotlib - should be very easy to create one for pandas \r\n\r\nhttps://github.com/LaurenceMolloy/RepoDash\r\n\r\ncc @pandas-dev/pandas-core \r\n@tacaswell '}

In [70]:
issue_label = pd.DataFrame(data)
issue_label.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,assignee,assignees,milestone,comments,created_at,updated_at,closed_at,author_association,body,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/30576,544084978,MDU6SXNzdWU1NDQwODQ5Nzg=,30576,ADMIN: display issue metrics,...,None,[],None,0,2019-12-31T04:30:05Z,2019-12-31T04:30:45Z,None,CONTRIBUTOR,came across this blog / repo which shows nice ...,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/30575,544036423,MDExOlB1bGxSZXF1ZXN0MzU4MjM2NTk3,30575,CLN: assorted cleanups,...,None,[],{'url': 'https://api.github.com/repos/pandas-d...,0,2019-12-30T23:01:39Z,2019-12-31T01:34:46Z,None,MEMBER,Salvaging what I can from some abandoned branc...,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/30574,544034858,MDExOlB1bGxSZXF1ZXN0MzU4MjM1MzE3,30574,API: Raise when setting name via level,...,None,[],{'url': 'https://api.github.com/repos/pandas-d...,3,2019-12-30T22:52:50Z,2019-12-31T02:05:08Z,None,CONTRIBUTOR,Closes https://github.com/pandas-dev/pandas/is...,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/30573,544031401,MDExOlB1bGxSZXF1ZXN0MzU4MjMyNTI5,30573,TYP: check_untyped_defs io.json._normalize,...,None,[],None,1,2019-12-30T22:34:50Z,2019-12-30T23:49:37Z,None,MEMBER,pandas\io\json\_normalize.py:282: error: Argum...,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/30572,544025496,MDExOlB1bGxSZXF1ZXN0MzU4MjI3NjUz,30572,TYP: check_untyped_defs various,...,None,[],None,1,2019-12-30T22:07:17Z,2019-12-30T23:03:41Z,None,MEMBER,pandas\core\dtypes\generic.py:7: error: 'class...,{'url': 'https://api.github.com/repos/pandas-d...

# 6.4 데이터베이스와 함께 사용하기

In [71]:
import sqlite3

query ="""
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);
"""
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [72]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [73]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [74]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [75]:
pd.DataFrame(rows, columns=list(zip(*cursor.description))[0])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [76]:
list(zip(*cursor.description))

[('a', 'b', 'c', 'd'),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None)]

In [77]:
import pandas.io.sql as sql
pd.read_sql('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [78]:
import pymongo
con = pymongo.MongoClient('localhost', port=27017)
tweets = con.db.tweets

```python
import requests, json
# url에 더 접근 불가능. 사례정도로 기억
url = 'https://search.twitter.com/search.json?q=python%20pandas'
data = json.loads(requests.get(url).text)
# {'errors': [{'message': 'The Twitter REST API v1 is no longer active. Please migrate to API v1.1. https://dev.twitter.com/docs/api/1.1/overview.',
   'code': 64}]}
for tweet in data['results']:
    tweets.save(tweet)
    
cursor = tweets.find({'from_user': 'wesmckinn'})

tweet_fields = ['created_at', 'from_user','id','text']
result = pd.DataFrame(list(cursor), columns=tweet_fields)
```