In [1]:
import pandas as pd

In [3]:
dataset=pd.read_csv('C:\\Users\\la\\Desktop\\PythonDataScienceEssentialsSecondEdition_Code\\Chapter 2\\code\\a_selection_example_1.csv',index_col=0)
dataset

     val1  val2 val3
n
100    10    10    C
101    10    20    C
102    10    30    B
103    10    40    B
104    10    50    A

In [4]:
dataset['val3'][104]

'A'

In [6]:
dataset.loc[104,'val3']

'A'

In [8]:
dataset.ix[104,2]

'A'

In [9]:
dataset.iloc[4,2]

'A'

In [10]:
dataset[['val3','val2']][0:2]

    val3  val2
n
100    C    10
101    C    20

In [11]:
dataset.loc[range(100,102),['val3','val2']]

    val3  val2
n
100    C    10
101    C    20

In [12]:
dataset.ix[range(100,102),['val3','val2']]

    val3  val2
n
100    C    10
101    C    20

In [13]:
dataset.iloc[range(2),[2,1]]

    val3  val2
n
100    C    10
101    C    20